<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PowerLine Display Test</title>
    <link rel="shortcut icon" type="image/ico"
          href="https://raw.githubusercontent.com/posoco/power_tracer/gh-pages/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="./home.css">
    <link rel="stylesheet" type="text/css" href="../libs/css/font-awesome.min.css">
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/dirPagination.js"></script>
</head>
<body>
<div class="wrapper">
    <h2>Power Flow Visualisation</h2>

    <div id="canvasWrapper" style="background-color: black">
        <canvas id="myCanvas">Your browser does not support the HTML5 canvas tag.</canvas>
        <canvas id="caretCanvas">Your browser does not support the HTML5 canvas tag.</canvas>
    </div>
    <div id="controlPanel" style="margin-top: 50px;padding-left: 50px">
        <p>
            Last Updated at <span id='lastUpdatedText'>xx/xx/xxxx xx:xx:xx</span>________Processing Time - <span
                id='processTimeText'>_</span> secs
            <button style="margin-left: 20px" id="startScadaFetching" onclick="startScadaFetching()">Start Fetching
            </button>
            <button style="margin-left: 20px" id="stopScadaFetching" onclick="stopScadaFetching()">Stop Fetching
            </button>
        </p>
        <span style="margin-left:36px">Zoom: </span>
        <button onclick="addZoom(0.5)">-</button>
        <button onclick="addZoom(-0.5)">+</button>
        <label><input type="checkbox" name="plot765Input" id="plot765Input" style="margin-left: 20px" checked>765
            kV</label>
        <label><input type="checkbox" name="plot400Input" id="plot400Input" style="margin-left: 20px" checked>400
            kV</label>
        <label><input type="checkbox" name="plot220Input" id="plot220Input" style="margin-left: 20px">220
            kV</label>
        <label><input type="checkbox" name="plotBorderInput" id="plotBorderInput" style="margin-left: 20px" checked>Borders</label><br><br>
        <span>Set Line Flow Here</span><br>
        <input id="line_flow_input" style="width: 550px;" type="range" min="-2000" max="2200" value="900" step="2"
               onchange="showValue(this.value)"/>
        <span id="power_input_label">900</span><br><br>
        <label><input type="checkbox" name="isPerUnitMode" id="isPerUnitMode" style="margin-left: 20px" checked>Thickness
            =
            Power/NominalPower</label>
        <label style="margin-left: 20px">Thickness/MW</label>
        <input value="0.003" name="thicknessPerMWInput" id="thicknessPerMWInput" style="margin-left: 5px" type="number"
               min="0"
               max="60" step="0.001">
        <label style="margin-left: 20px">Thickness/PU</label>
        <input value="1.5" name="thicknessPerPUInput" id="thicknessPerPUInput" style="margin-left: 5px" type="number"
               min="0"
               max="60" step="0.01">
        <label style="margin-left: 20px">Color Mode</label>
        <select id="lineColorModeSelectInput">
            <option value="severity">Severity</option>
            <option value="voltage" selected>Voltage</option>
            <option value="Plain">Plain</option>
        </select>
        <br><br>

        <label><input type="checkbox" checked name="isArrowAnimation" id="isArrowAnimation" style="margin-left: 20px">Arrows</label>
        <label style="margin-left: 20px">Arrow Shape</label>
        <select id="caretModeSelectInput" onchange="changeCaretMode(this)">
            <option value="arrow" selected>Arrows</option>
            <option value="circle">Circles</option>
            <option value="rect">Rectangles</option>
        </select>
        <label style="margin-left: 20px">Arrow Style</label>
        <select id="caretFillInput" onchange="changeCaretFill(this)">
            <option value="arc">Hollow</option>
            <option value="fill" selected>Fill</option>
        </select>
        <label style="margin-left: 20px">Arrow Size</label>
        <input value="2" name="arrowSizeInput" id="arrowSizeInput" style="margin-left: 5px" type="number" min="0"
               max="60" step="0.5">
        <label style="margin-left: 20px">Arrow Speed</label>
        <input value="10" name="arrowSpeedInput" id="arrowSpeedInput" style="margin-left: 5px" type="number" min="0"
               max="60" step="1">
        <br><br>
    </div>

    <div class="container" ng-app="lineSortApp" ng-controller="lineSortController" id="lineSortController">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search the Line by name" ng-model="searchLine">
                    <label style="margin-left: 50px">Lines per Page</label>
                    <input type="number" min="1" max="1000" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </form>
        <br><br>
        <table>
            <thead>
            <tr>
                <td>
                    <a class="sort-clicker" href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Line Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a class="sort-clicker" href="#"
                       ng-click="sortType = ['nominal_power', 'power']; sortReverse = !sortReverse">
                        NominalPower
                        <span ng-show="sortType[0] == 'nominal_power' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType[0] == 'nominal_power' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a class="sort-clicker" href="#" ng-click="sortType = 'power'; sortReverse = !sortReverse">
                        Power Flow
                        <span ng-show="sortType == 'power' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'power' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr dir-paginate="line in lines | orderBy:sortType:sortReverse | filter:searchLine | itemsPerPage:pageSize">
                <td>{{ line.name }}</td>
                <td>{{ line.nominal_power }}</td>
                <td>{{ line.power }}</td>
            </tr>
            </tbody>

        </table>
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
        <div style="margin-bottom: 50px"></div>
    </div>
    <div class="push"></div>
</div>
<div class='footer'
     style='background-color:#217346;color:#EEEEEE;'>
    The Code for this WebApp is hosted at <a
        href="https://github.com/posoco/power_tracer"
        target="_blank"
        style="color:#dddddd;">https://github.com/posoco/power_tracer</a>
</div>
<script src="../libs/jquery-1.7.min.js"></script>
<script src="../libs/async.min.js"></script>
<script src="./libs/consoleFunctions.js"></script>
<script src="../PowerLine.js"></script>
<script src="../LineTracer.js"></script>
<script src="../libs/requestAnimFrame.js"></script>
<script src="./lines_ddl.js"></script>
<script src="./data_fetcher.js"></script>
<script src="./singleTest.js"></script>
</body>
